.{
    margin:0;
    padding:0;
    font-family:sans-serif,'popping';
    box-sizing:border-box;

}
body.login-page{
    justify-self: center;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(photo/bachege.jpg)no-repeat;
    background-size:cover ;
    background-position: center;

}

header{
    position:fixed;
    top: -50px;
    left: 0;
    width:100%;
    padding: 2px 2px;
    background-color: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:99;
}
.Logo{
    font-size:2em;
    color: #def455;
   user-select: none;
   

}
.navigator a {
    position: relative;
    font-size: 1.1em;
    color: #142af0;
     text-decoration:none;
    font-weight: 1000;
    margin-left: 40px;
    font-style: bold;
    


}
.navigator a::after {
    content: "";
    position:absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background:rgb(37, 9, 221);
    border-radius: 5px;
    transform:scale(0);
transition: transform.5s;
     
}
.navigator a:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}
.wrapper{
      position:relative;
    width: 400px;
    height: 440px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display:flex;
    justify-content: center;
    align-items:center ;
   }
wrapper form {
    padding: 100px;
    width: 100%;
}.h1{
    font-size: 1rem;
    color: black;
    text-align: center;
}
.Login-Email{
    margin: 30px 0;
     border-bottom:2px solid black;


}
.login-password{
    margin: 30px 0;
     border-bottom:2px solid black;
}
.Login-Email label{
    position: inline;
    top: 50%;
    left:5px;
    transform:translateY(-50);
    color:black;
    font-weight :500k;
    
}
.login-password label{
    position: inline;
    top: 50%;
    left:5px;
    transform:translateY(-50);
    color:black;
    font-weight :500px;
    
}
 .Remember-fogotlabel{
    position: absolute;
    top: 50%;
    left:5px;
    transform:translateY(-50);
    color:black;
    font-weight :500px;
 }
    .login-password input{
    position: relative;
    width:150px;
    height:20px;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
}
 .Login-Email input{
    width:150px;
    height:20px;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;}

.Logo img {  
    width:100px;

    float:left;
    border-radius: 100px;
    margin: right 20px; 
padding-left: 1%;

    
}
.logo img :hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

p {
 font-style: normal;
}
button{
background:#e6e7ea;
color:rgb(190, 172, 172);
border-radius: 50px;padding: 2px 20px;
font-style: bold;
position: relative;
overflow: hidden;
}
button :hover{
    background:#b0b6e4;
    color:rgb(174, 169, 203);
    border-color: #def455;
}

.create-account{
  width: 400px;
    height: 440px;
    border: 2px solid rgba(201, 58, 58, 0.5);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center ; 
justify-self:center;
padding: 200px; 
            }
.create-account:hover{
    background-color: antiquewhite;
    transition-scale: (0);
    border-color:pink;
}
.form{
    text-align: center;
}
.details{
    text-align: center;
    font-style:italic;
}
.details h2{
    text-align: center;
    font-style: bold;
}
.email-ac {
    margin: 30px;
    
}
.email-ac label{
    border-radius: 30px;

}
.email-ac input{
    border-radius: 50px;    
    height: 29px;
    width: 400px;
    background-color: rgb(241, 246, 251);
    border-color: #0c41e1;
    text-align: center;
    
}
.comfirm-email{
    margin: 30px;
}
.comfirm-email label{
    margin:30px;
}
.comfirm-email input{
    width: 400px;
    height: 29px;
    border-radius: 50px;
    border-color: #0c41e1;
    text-align: center;
}
.create-password{
    margin: 30px;
    text-align: center;
}
.create-password label{
    margin: 30px;
}
.create-password input{
    border-radius: 50px;
    width:400px;
    height: 29px;
    border-color: #142af0;
    text-align: center;
}
.cormfirm-password{
    margin: 30px;
}
.cormfirm-password label{
    margin:30px;
}
.cormfirm-password input{
    width: 400px;
    height:29px;
    border-radius: 50px;
    border-color: #0c41e1;
    text-align: center;
}
button{
    border-color: #0c41e1;
    background-color: beige;
    
}

    body.home-page{
    padding: 0px
}
.h{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 60px;
    color: #0c41e1;
}
.we{
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 200;
}
.p1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 26, 206);
    font-style: bold;
}
.top-search-bar{
    justify-content:center;

}
.top-search-bar input{
    border-radius: 50px;
    border-color: #0c41e1;
    height: 4pc;
    width: 50pc;
    justify-content: center;
    margin-left: 400px;
     
    
    text-align: center;

}
.submit{
    height: 50px;
    width: 100px;
}
.house-bedsitter{
    display:flex;
    border-radius: 50px;
    display: inline;
    background-color: aqua;
    

    


}
.picture1 img{
    width: 300px;
    height: 400px;
    border-radius: 60px;
    padding: 50px;
    margin: 1px;


}
.picture1 img:hover{
background-color:whitesmoke

}
.house-info{
    justify-content: center;
    align-items: center;
    color: #142af0;
    text-align: center;
}
.house-single{
     
    border-radius: 50px;
    display: inline;
    


}
.pictures2 img {width: 300px;
    height: 400px;
    border-radius: 60px;
    padding: 50px;

}
.propertylist-page{
    justify-content: center;
    padding: 45px;
}
.propertylist-page h1{
    color: #142af0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-style: italic;
}
.property-list{
    margin: 30PX;
    justify-content: center;
    justify-items: center;

}
.property-list img{
    width: 1000px;
    height: 500px;
    border-radius: 90px;
    padding: 50px;
    
}
.property-list h3{
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: weight 500px;;
}
.property-list p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: 500;
}
.property-list button{
    justify-items: end;
     text-align: center;
    font-style: bold;
    font-weight: 200;
}
.property-list button:hover{
    background-color: #06106b;
}
.property-list p{ text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.services-page{
    margin: 10px;
    padding: 45px;
    font-style: bold;
    line-height: 80px;
    font-weight: 1000;
}
.services-page h1{
    color: #0c41e1;
}
.services-page p{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
.services-page{
    align-content:  center;
    justify-content: center;
    justify-items: center;
    font-size: large;
}
.contact-page{
    margin: 30px;
    
}
.contact-page h1{
margin: 60px;
    color: #0c41e1;
    font-style: bold;
    
    
}
.contact-page p{
    justify-content: center;
    text-align: center;
    font-style: bold;
    font-size: x-large;
    font-weight: 700;
}
.contact-info{
    text-justify: auto;

}
.contact-form input{
    border-radius: 50px;
    height: 30px;
    width:300px ;
    border-color: #142af0;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}
.contact-info label{
    font-style: bold;
    justify-content: center;
    justify-content: center;
}
.contact-form{
    justify-content: center;
    justify-items: center;
    text-align: center;
}